---
// Authentication callback page for Authentik OIDC flow
import { ReduxProvider } from '../../components/providers/redux-provider';
import { AuthCallbackWrapper } from '../../components/auth/auth-callback-wrapper';
export const prerender = false;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Authentication - PKC</title>
  </head>
  <body>
    <div id="callback-root">
      <ReduxProvider client:only="react">
        <AuthCallbackWrapper />
      </ReduxProvider>
    </div>
  </body>
</html>
